<section class="advantages">
    <div class="advantages__content">
        <h2 class="advantages__heading">
            Преимущества технологии GPON
        </h2>
        <ul class="advantages__list">
            <li class="advantages__list-item">
                <div class="advantages__card">
                    <img src="/images/advantages/1.svg" alt="" class="advantages__card-image">
                    <div class="advantages__card-content">
                        <h3 class="advantages__card-title">
                            Высокий уровень
                            помехозащищенности
                        </h3>
                        <div class="advantages__text">
                            Оптическое волокно не подвержено электромагнитным помехам и радиочастотным
                            воздействиям,поэтому даже при их наличии сохраняется стабильная и надежная передача данных.
                        </div>
                    </div>
                </div>
            </li>
            <li class="advantages__list-item">
                <div class="advantages__card">
                    <img src="/images/advantages/2.svg" alt="" class="advantages__card-image">
                    <div class="advantages__card-content">
                        <h3 class="advantages__card-title">
                            Минимальное влияние
                            погодных условий
                        </h3>
                        <div class="advantages__text">
                            Оптическое волокно устойчиво к влажности, температурным изменениям и обеспечивает стабильную
                            передачу данных,не подверженную воздействию погодных условий.
                        </div>
                    </div>
                </div>
            </li>
            <li class="advantages__list-item">
                <div class="advantages__card">
                    <img src="/images/advantages/3.svg" alt="" class="advantages__card-image">
                    <div class="advantages__card-content">
                        <h3 class="advantages__card-title">
                            Удобство
                        </h3>
                        <div class="advantages__text">
                            В дом проводится всего один провод. Он не свисает с потолка и не тянется через всю квартиру,
                            а рядом с дверью не будет десятков отверстий для разных кабелей.
                        </div>
                    </div>
                </div>
            </li>
            <li class="advantages__list-item">
                <div class="advantages__card">
                    <img src="/images/advantages/4.svg" alt="" class="advantages__card-image">
                    <div class="advantages__card-content">
                        <h3 class="advantages__card-title">
                            Высокая скорость
                        </h3>
                        <div class="advantages__text">
                            Технология GPON обеспечивает скорость интернета до 500 Мбит/с, даже в сети, загруженной
                            одновременной работой нескольких устройств.
                        </div>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</section>