<footer class="page-footer">
    <div class="page-footer__content">
        <nav class="page-footer__nav">
            <ul>
                <li>
                    <a href="#">
                        Таттелеком
                    </a>
                    <ul>
                        <li>
                            <a href="#">
                                О компании
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                Пресс-центр
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                Работа в компании
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                Акционерам и инвесторам
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                Структурные подразделения
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                Контактная информация
                            </a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="#">
                        Частным клиентам
                    </a>
                    <ul>
                        <li>
                            <a href="#">
                                Мобильная связь
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                Интернет
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                Телевидение
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                Телефония
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                Домофония
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                Телеграф
                            </a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="#">
                        Бизнесу
                    </a>
                    <ul>
                        <li>
                            <a href="#">
                                Решения для бизнеса
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                Мобильная связь
                            </a>
                        </li>

                        <li>
                            <a href="#">
                                Интернет в офис
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                Телефония
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                Телеграф
                            </a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="#">
                        Партнерам
                    </a>
                    <ul>
                        <li>
                            <a href="#">
                                Поставщикам
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                Операторам связи
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                Дилерам
                            </a>
                        </li>

                    </ul>
                </li>
            </ul>
        </nav>
    </div>
</footer>