<header class="page-header">
    <div class="page-header__content">
        <a class="page-header__logo" href="#">
            <img alt="" class="page-header__logo-image" src="/images/logo.svg">
        </a>
        <div class="page-header__menu">
            <nav class="page-header__nav">
                <ul>
                    <li>
                        <a href="#">
                            Бизнес-инструмент
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            Функционал
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            Почему ВЗОР?
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            Эффективность
                        </a>
                    </li>
                </ul>
            </nav>
            <a class="page-header__callback-btn" href="#">
                Позвонить
            </a>
        </div>
        <button class="page-header__burger">
            <span></span>
            <span></span>
            <span></span>
        </button>
    </div>
</header>