<div class="modal js-modal" id="tariff-modal">
    <div class="modal__inner">
        <button class="modal__close js-modal-close">
            <svg width="14" height="14" aria-hidden="true">
                <use xlink:href="#close"></use>
            </svg>
        </button>
        <h3 class="modal__heading">
            GPON Летай 100 + ТВ
        </h3>
        <div class="modal__price">
            750 ₽/мес
        </div>
        <div class="modal__text">
            Укажите имя и контактный номер телефона.
            Мы перезвоним Вам в течении 15 минут.
            Клиентская служба работает с 08-00 ло 20-00.
        </div>
        <form action="/" method="POST" class="modal__form js-form-validation">
            <div class="modal__form-fields">
                <div class="modal__form-field">
                    <div class="modal__form-input-wrapper">
                        <input type="text" class="modal__form-input" name="your-name" placeholder="Ваше имя">
                    </div>
                </div>
                <div class="modal__form-field">
                    <div class="modal__form-input-wrapper">
                        <input type="tel" class="modal__form-input" name="your-phone" placeholder="+7 (___) ___-__-__">
                    </div>
                </div>
            </div>
            <div class="modal__form-policy">
                <label class="modal__form-policy-checkbox">

                    <input type="checkbox" name="policy" class="modal__form-policy-checkbox-input" value="Y">
                    <span class="modal__form-policy-checkbox-mark">

                    </span>
                    <span class="modal__form-policy-checkbox-text">
                        Я согласна на обработку своих персонльных данных
                    </span>
                </label>
            </div>
            <button class="modal__form-submit" type="submit">
                Отправить заявку
            </button>

        </form>
        <div class="modal__form-rules">
            Нажимая кнопку “Отправить заявку”, вы принимаете условия пользовательского соглашения и политику
            конфиденциальности. Защита от спама reCAPTCHA Конфиденциальность и Условия использования.
        </div>
    </div>
</div>