<section class="participate">
    <div class="participate__content">
        <h2 class="participate__heading">
            Участвуй в розыгрыше прямо сейчас
        </h2>
        <form action="/" method="POST" class="participate__form js-form-validation">
            <div class="participate__form-fields">
                <div class="participate__form-field">
                    <div class="participate__form-field-input-wrapper">
                        <input type="text" class="participate__form-field-input" placeholder="ФИО" name="your-name"
                            required="">
                    </div>
                </div>
                <div class="participate__form-field">
                    <div class="participate__form-field-input-wrapper">
                        <input type="tel" class="participate__form-field-input" placeholder="+7(___)___-__-__"
                            name="your-phone" required="">
                    </div>
                </div>
            </div>
            <div class="participate__form-checkboxes">
                <div class="participate__form-checkbox-wrapper">
                    <label class="participate__form-checkbox">
                        <input type="checkbox" name="approval" class="participate__form-checkbox-input" value="Y"
                            required="">
                        <span class="participate__form-checkbox-mark">

                        </span>
                        <span class="participate__form-checkbox-text">
                            Даю согласие ПАО «Таттелеком» на публикацию моего имени (ФИО) в случае выигрыша в соцсетях,
                            на
                            сайте и в пресс-материалах.
                        </span>
                    </label>
                </div>
                <div class="participate__form-checkbox-wrapper">
                    <label class="participate__form-checkbox">
                        <input type="checkbox" name="approval-2" class="participate__form-checkbox-input" value="Y"
                            required="">
                        <span class="participate__form-checkbox-mark">

                        </span>
                        <span class="participate__form-checkbox-text">
                            Я подтверждаю, что мне исполнилось 18 лет, принимаю правила розыгрыша и даю согласие ПАО
                            «Таттелеком» на обработку моих персональных данных (ФИО, телефон)
                        </span>
                    </label>
                </div>
            </div>
            <button class="participate__form-submit" type="submit">
                Подтвердить участие
            </button>
        </form>
    </div>
</section>