<section class="router">
    <div class="router__content">
        <h2 class="router__heading">
            Wi-Fi роутер
        </h2>
        <div class="router__row">
            <div class="router__image-wrapper">
                <img src="/images/router.webp" alt="" class="router__image">
            </div>
            <div class="router__text-content">
                <div class="router__internet-wrapper">


                    <img src="/images/internet.svg" alt="" class="router__internet">
                    <img src="/images/wifi.webp" alt="" class="router__wifi">
                </div>
                <ul class="router__advantages-list">
                    <li class="router__advantages-list-item">
                        <div class="router__advantages-card">
                            <img src="/images/router-advantages/1.svg" alt="" class="router__advantages-card-icon">
                            <div class="router__advantages-card-text">
                                Современный
                                процессор
                            </div>
                        </div>
                    </li>
                    <li class="router__advantages-list-item">
                        <div class="router__advantages-card">
                            <img src="/images/router-advantages/2.svg" alt="" class="router__advantages-card-icon">
                            <div class="router__advantages-card-text">
                                Собирается
                                в mash-сеть
                            </div>
                        </div>
                    </li>
                    <li class="router__advantages-list-item">
                        <div class="router__advantages-card">
                            <img src="/images/router-advantages/3.svg" alt="" class="router__advantages-card-icon">
                            <div class="router__advantages-card-text">
                                Индивидуальность
                                в интерьере
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
        <a href="#" class="router__link">
            Подробнее
        </a>
    </div>
</section>