<div class="text-modal js-modal" id="text-modal">
    <div class="text-modal__inner">
        <button class="text-modal__close js-modal-close">
            <svg xmlns="http://www.w3.org/2000/svg" width="26" height="26" viewBox="0 0 26 26">
                <path fill-rule="evenodd" clip-rule="evenodd"
                    d="M13.4343 15.9346L23.036 25.5362L25.9711 22.601L16.3695 12.9994L25.8329 3.53599L22.8977 0.600813L13.4343 10.0642L3.83361 0.463507L0.898437 3.39868L10.4992 12.9994L1.03504 22.4635L3.97021 25.3987L13.4343 15.9346Z" />
            </svg>
        </button>
        <h3 class="text-modal__heading">
            Корпоративный пульс
        </h3>

        <div class="text-modal__text">
            <p>
                6 декабря деловая газета «Реальное время» объявила обладателей премии «Реальный рейтинг». Лидером в
                номинации «Телекоммуникации и связь» стал «Таттелеком». При расчете победителей экспертный совет Премии
                учитывал величину активов номинантов, объем выручки, чистую прибыль, рентабельность компаний и другие
                показатели. По оценке независимых экспертов, предприятие показало наилучший финансово-производственный
                результат за год в сравнении с другими игроками рынка.
            </p>

            <p>
                «Компания провела этот год продуктивно, об этом говорят финансовые результаты и динамика абонентской
                базы. Таких показателей удалось достичь благодаря эффективным стратегическим решениям и выстроенным
                бизнес-процессам. В этом году мы начали реализовывать важные трансформации: например, переход на новый
                биллинг и замена ядра мобильной связи «Летай» на современное с поддержкой 5G. Эти изменения повысят
                качество услуг и сервисов, а также обеспечат стабильное будущее компании», – прокомментировал
                гендиректор «Таттелекома» Айрат Рафкатович Нурутдинов.
            </p>
            <p>
                IN@Voice признали лучшим кросс-отраслевым решением 2024 года для процесса обслуживания абонентов. Такую
                награду «Таттелекому» и вендору цифровой системы Bercut присудил 6 декабря ComNews Awards. Это ежегодная
                премия в области лучших решений для цифровой экономики.
            </p>
            <p>
                Как подчеркнул на торжественной церемонии награждения в Москве лидер проекта Ильдар Тахиржанович
                Нургалеев – заместитель генерального директора по ИБ и директор департамента ИТ, для оператора связи
                замена биллинговой системы – это все равно что пересадка сердца для бегущего человека. Он также выразил
                благодарность вендору и коллегам за высокий профессионализм и исключительную клиентоориентированность,
                которые так необходимы для развития на телеком-рынке.
            </p>
        </div>

    </div>
</div>