<section class="vacancies">
    <div class="vacancies__content">
        <h2 class="vacancies__heading">
            Актуальные вакансии по городам
        </h2>
        <ul class="vacancies__list">
            <li class="vacancies__list-item">
                <div class="vacancies__card">
                    <div class="vacancies__card-inner">
                        <div class="vacancies__card-front">
                            <h3 class="vacancies__card-city">
                                Казань
                            </h3>
                        </div>
                        <div class="vacancies__card-back">
                            <div class="vacancies__card-name">
                                Фатхутдинова Лейсан Раисовна
                            </div>
                            <div class="vacancies__card-contacts">
                                <a href="tel:+79871821592" class="vacancies__card-contacts-link">+79871821592</a>
                                <a href="mailto:Leysan.Fatkhutdinova@tattelecom.ru"
                                    class="vacancies__card-contacts-link">Leysan.Fatkhutdinova@tattelecom.ru</a>
                            </div>
                            <a href="#" class="vacancies__card-link">
                                перейти к вакансиям
                            </a>
                        </div>
                    </div>

                </div>
            </li>
            <li class="vacancies__list-item">
                <div class="vacancies__card">
                    <div class="vacancies__card-inner">
                        <div class="vacancies__card-front">
                            <h3 class="vacancies__card-city">
                                Набережные
                                Челны
                            </h3>
                        </div>
                        <div class="vacancies__card-back">
                            <div class="vacancies__card-name">
                                Гудясова Юлия Александровна
                            </div>
                            <div class="vacancies__card-contacts">
                                <a href="tel:+79274984985" class="vacancies__card-contacts-link">+79274984985</a>
                                <a href="mailto:Yuliya.Gudyasova@tattelecom.ru"
                                    class="vacancies__card-contacts-link">Yuliya.Gudyasova@tattelecom.ru</a>
                            </div>
                            <a href="#" class="vacancies__card-link">
                                перейти к вакансиям
                            </a>
                        </div>
                    </div>

                </div>
            </li>
            <li class="vacancies__list-item">
                <div class="vacancies__card">
                    <div class="vacancies__card-inner">
                        <div class="vacancies__card-front">
                            <h3 class="vacancies__card-city">
                                Альметьевск
                            </h3>
                        </div>
                        <div class="vacancies__card-back">
                            <div class="vacancies__card-name">
                                Баженова Светлана Ильгизовна
                            </div>
                            <div class="vacancies__card-contacts">
                                <a href="tel:+79179138321" class="vacancies__card-contacts-link">+79179138321</a>
                                <a href="mailto:Svetlana.Bazhenova@tattelecom.ru"
                                    class="vacancies__card-contacts-link">Svetlana.Bazhenova@tattelecom.ru</a>
                            </div>
                            <a href="#" class="vacancies__card-link">
                                перейти к вакансиям
                            </a>
                        </div>
                    </div>

                </div>
            </li>
            <li class="vacancies__list-item">
                <div class="vacancies__card">
                    <div class="vacancies__card-inner">
                        <div class="vacancies__card-front">
                            <h3 class="vacancies__card-city">
                                Арск
                            </h3>
                        </div>
                        <div class="vacancies__card-back">
                            <div class="vacancies__card-name">
                                Фатхутдинова Лейсан Раисовна
                            </div>
                            <div class="vacancies__card-contacts">
                                <a href="tel:+79871821592" class="vacancies__card-contacts-link">+79871821592</a>
                                <a href="mailto:Leysan.Fatkhutdinova@tattelecom.ru"
                                    class="vacancies__card-contacts-link">Leysan.Fatkhutdinova@tattelecom.ru</a>
                            </div>
                            <a href="#" class="vacancies__card-link">
                                перейти к вакансиям
                            </a>
                        </div>
                    </div>

                </div>
            </li>
            <li class="vacancies__list-item">
                <div class="vacancies__card">
                    <div class="vacancies__card-inner">
                        <div class="vacancies__card-front">
                            <h3 class="vacancies__card-city">
                                Зеленодольск
                            </h3>
                        </div>
                        <div class="vacancies__card-back">
                            <div class="vacancies__card-name">
                                Фатхутдинова Лейсан Раисовна
                            </div>
                            <div class="vacancies__card-contacts">
                                <a href="tel:+79871821592" class="vacancies__card-contacts-link">+79871821592</a>
                                <a href="mailto:Leysan.Fatkhutdinova@tattelecom.ru"
                                    class="vacancies__card-contacts-link">Leysan.Fatkhutdinova@tattelecom.ru</a>
                            </div>
                            <a href="#" class="vacancies__card-link">
                                перейти к вакансиям
                            </a>
                        </div>
                    </div>

                </div>
            </li>
            <li class="vacancies__list-item">
                <div class="vacancies__card">
                    <div class="vacancies__card-inner">
                        <div class="vacancies__card-front">
                            <h3 class="vacancies__card-city">
                                Бугульма
                            </h3>
                        </div>
                        <div class="vacancies__card-back">
                            <div class="vacancies__card-name">
                                Баженова Светлана Ильгизовна
                            </div>
                            <div class="vacancies__card-contacts">
                                <a href="tel:+79179138321" class="vacancies__card-contacts-link">+79179138321</a>
                                <a href="mailto:Svetlana.Bazhenova@tattelecom.ru"
                                    class="vacancies__card-contacts-link">Svetlana.Bazhenova@tattelecom.ru</a>
                            </div>
                            <a href="#" class="vacancies__card-link">
                                перейти к вакансиям
                            </a>
                        </div>
                    </div>

                </div>
            </li>
            <li class="vacancies__list-item">
                <div class="vacancies__card">
                    <div class="vacancies__card-inner">
                        <div class="vacancies__card-front">
                            <h3 class="vacancies__card-city">
                                Чистополь
                            </h3>
                        </div>
                        <div class="vacancies__card-back">
                            <div class="vacancies__card-name">
                                Фатхутдинова Лейсан Раисовна
                            </div>
                            <div class="vacancies__card-contacts">
                                <a href="tel:+79871821592" class="vacancies__card-contacts-link">+79871821592</a>
                                <a href="mailto:Leysan.Fatkhutdinova@tattelecom.ru"
                                    class="vacancies__card-contacts-link">Leysan.Fatkhutdinova@tattelecom.ru</a>
                            </div>
                            <a href="#" class="vacancies__card-link">
                                перейти к вакансиям
                            </a>
                        </div>
                    </div>

                </div>
            </li>
            <li class="vacancies__list-item">
                <div class="vacancies__card">
                    <div class="vacancies__card-inner">
                        <div class="vacancies__card-front">
                            <h3 class="vacancies__card-city">
                                Нижнекамск
                            </h3>
                        </div>
                        <div class="vacancies__card-back">
                            <div class="vacancies__card-name">
                                Гудясова Юлия Александровна
                            </div>
                            <div class="vacancies__card-contacts">
                                <a href="tel:+79274984985" class="vacancies__card-contacts-link">+79274984985</a>
                                <a href="mailto:Yuliya.Gudyasova@tattelecom.ru"
                                    class="vacancies__card-contacts-link">Yuliya.Gudyasova@tattelecom.ru</a>
                            </div>
                            <a href="#" class="vacancies__card-link">
                                перейти к вакансиям
                            </a>
                        </div>
                    </div>

                </div>
            </li>
            <li class="vacancies__list-item">
                <div class="vacancies__card">
                    <div class="vacancies__card-inner">
                        <div class="vacancies__card-front">
                            <h3 class="vacancies__card-city">
                                Елабуга
                            </h3>
                        </div>
                        <div class="vacancies__card-back">
                            <div class="vacancies__card-name">
                                Гудясова Юлия Александровна
                            </div>
                            <div class="vacancies__card-contacts">
                                <a href="tel:+79274984985" class="vacancies__card-contacts-link">+79274984985</a>
                                <a href="mailto:Yuliya.Gudyasova@tattelecom.ru"
                                    class="vacancies__card-contacts-link">Yuliya.Gudyasova@tattelecom.ru</a>
                            </div>
                            <a href="#" class="vacancies__card-link">
                                перейти к вакансиям
                            </a>
                        </div>
                    </div>

                </div>
            </li>
        </ul>
    </div>
</section>