.advent {
  @include blockWrapper;
  padding-top: 3rem;
  background-image: url("../images/advent-bg.webp");
  background-position: center top;
  background-repeat: no-repeat;
  background-size: cover;
  padding-bottom: 8rem;

  @include breakpoint(mobile) {
    padding-top: 4rem;
    background-image: url("../images/advent-bg-mobile.webp");
    padding-bottom: 4rem;
  }
}

.advent__content {
  @include blockContent;
}

.advent__top {
  display: grid;
  grid-template-columns: minmax(0, 1fr);
  grid-template-areas: "stack";
  align-items: flex-start;
  position: relative;
  margin-bottom: 5rem;

  &::before {
    content: "";
    position: absolute;
    aspect-ratio: 521 / 97;
    right: -1rem;
    top: -1.6rem;
    background-image: url("../images/advent-top-snow.svg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    pointer-events: none;
    z-index: 10;
    width: 51rem;

    @include breakpoint(mobile) {
      width: 21rem;
      top: -0.5rem;
      right: 0.5rem;
    }
  }
}

.advent__top-bg {
  grid-area: stack;
}

.advent__top-content {
  grid-area: stack;
  padding: 3.2rem 5rem;
  display: flex;
  flex-direction: column;
  color: white;

  @include breakpoint(mobile) {
    padding: 3.8rem 2.8rem;
  }
}

.advent__wrapper {
  margin-right: auto;
  max-width: 78.5rem;
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 4rem;

  @include breakpoint(mobile) {
    margin: 0;
  }
}

.advent__heading {
  text-align: center;
  font-size: 6.4rem;
  font-style: normal;
  font-weight: 400;
  line-height: 110%;
  font-family: var(--wiguru), sans-serif;
  text-wrap: balance;
  margin-bottom: 4rem;

  @include breakpoint(mobile) {
    margin-bottom: 3rem;
    font-size: 3.2rem;
    font-style: normal;
    font-weight: 400;
    line-height: 120%;
  }
}

.advent__text-card {
  width: 100%;
  background-image: url("../images/advent-card-bg.svg");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;
  display: block;
  padding: 1.8rem 1.8rem;
  color: #161616;
  text-align: center;
  font-family: var(--wiguru), sans-serif;
  font-size: 4rem;
  font-style: normal;
  font-weight: 400;
  line-height: 120%;
  filter: drop-shadow(0 0.24rem 1.98rem rgba(0, 0, 0, 0.45));

  @include breakpoint(mobile) {
    min-height: auto;
    padding: 1.6rem 0.8rem 4rem;
    font-size: 1.6rem;
    font-style: normal;
    font-weight: 400;
    line-height: 120%;
    filter: drop-shadow(0 0.24rem 1.98rem rgba(0, 0, 0, 0.25));
  }

  p {
    margin-bottom: 3.5rem;
    @include breakpoint(mobile) {
      margin-bottom: 2rem;
    }

    &:last-child {
      margin-bottom: 0;
    }
  }
}

.advent__snowball-illustration {
  position: absolute;
  bottom: 0;
  right: -4.2rem;
  width: 53.4rem;
  z-index: 5;
  pointer-events: none;

  @include breakpoint(mobile) {
    width: 15.5rem;
    right: -1rem;
    bottom: -4rem;
  }
}

.advent__snowball-illustration-image {
  display: block;
  width: 100%;
  height: auto;
}

.advent__cards {
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  grid-gap: 1rem;
  grid-row-gap: 2.4rem;
  align-items: flex-start;

  @include breakpoint(mobile) {
    grid-template-columns: repeat(2, minmax(0, 1fr));
    grid-gap: 1.2rem;
  }
}

.advent__card {
  display: grid;
  grid-template-columns: minmax(0, 1fr);
  grid-template-areas: "stack";
  transform: scale(0.98);

  picture {
    display: contents;
  }

  &.locked {
    .advent__card-date::after {
      content: "";
      flex-shrink: 0;
      width: 3.7rem;
      height: 5.2rem;
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center;
      background-image: url("../images/advent-locked.svg");
      margin-top: 0.2em;

      @include breakpoint(mobile) {
        width: 1.1rem;
        height: 1.5rem;
      }
    }

    .advent__card-date--orange::after {
      background-image: url("../images/advent-locked-grey.svg");
    }
  }

  &:nth-child(2) {
    margin-top: -3.2rem;
    @include breakpoint(mobile) {
      margin: 0;
      margin-top: -4rem;

      .advent__card-content {
        padding-top: 6rem;
      }
    }
  }

  &:nth-child(3) {
    margin-left: -1rem;
    margin-top: -7.5rem;

    .advent__card-content {
      padding-top: 2rem;
    }

    @include breakpoint(mobile) {
      margin: 0;
      margin-top: -6.5rem;
      margin-left: -1.2rem;
      order: 5;
      .advent__card-content {
        padding-left: 2rem;
      }

      .advent__card-date {
        color: #fe5000;
        margin: 0;
        margin-top: auto;

        &::after {
          background-image: url("../images/advent-locked-grey.svg");
        }
      }
    }
  }

  &:nth-child(4) {
    margin-top: -16rem;
    @include breakpoint(mobile) {
      margin: 0;
      margin-top: -0.5rem;
      margin-left: -0.7rem;
    }

    .advent__card-content {
      padding-left: 2.4rem;
    }
  }

  &:nth-child(5) {
    grid-column: span 2;
    margin-top: -36.5rem;
    margin-right: -1rem;

    .advent__card-content {
      padding-left: 2.4rem;
    }

    @include breakpoint(mobile) {
      margin: 0;
      grid-column: span 1;
      order: 11;
      margin-top: -0.6rem;

      .advent__card-date {
        margin: 0;
      }

      .advent__card-content {
        padding-left: 1rem;
        padding-top: 0.5rem;
      }
    }
  }

  &:nth-child(6) {
    margin-right: 1rem;
    margin-top: -2rem;
    margin-left: -2rem;
    @include breakpoint(mobile) {
      margin: 0;
      margin-top: -0.5rem;
      order: 30;
      .advent__card-date {
        margin: 0;
        margin-right: auto;
        margin-top: auto;
      }
    }

    .advent__card-content {
      padding-top: 0.2rem;
    }
  }

  &:nth-child(7) {
    margin-top: -2rem;
    @include breakpoint(mobile) {
      margin: 0;
      order: 15;
    }
  }

  &:nth-child(8) {
    margin-top: -2.4rem;
    margin-left: 0.5rem;

    .advent__card-content {
      padding-top: 1rem;
      padding-right: 6rem;
    }

    @include breakpoint(mobile) {
      margin: 0;
      margin-top: -0.3rem;
      order: 9;

      .advent__card-date {
        margin: 0;
        margin-top: auto;
        color: white;
      }
    }
  }
}

.advent__card-image {
  grid-area: stack;
  pointer-events: none;
}

.advent__card-content {
  grid-area: stack;
  display: flex;
  flex-direction: column;
  padding: 1.2rem 1.4rem;
  padding-top: 7.8rem;

  @include breakpoint(mobile) {
    padding: 1rem;
    padding-bottom: 0.6rem;
  }
}

.advent__card-title {
  color: white;
  font-size: 9.6rem;
  font-style: normal;
  font-weight: 400;
  line-height: 120%;
  font-family: var(--wiguru), sans-serif;

  @include breakpoint(mobile) {
    font-size: 3.2rem;
    font-style: normal;
    font-weight: 400;
    line-height: 120%;
  }

  &--orange {
    color: #fe5000;
  }

  &--aligned-bottom {
    margin: auto;
    margin-bottom: 0;
  }
}

.advent__card-date {
  display: flex;
  align-items: flex-start;
  gap: 0.5rem;
  font-size: 12.8rem;
  font-style: normal;
  font-weight: 400;
  line-height: 100%;
  font-family: var(--wiguru), sans-serif;
  color: white;

  @include breakpoint(mobile) {
    font-size: 3.2rem;
    font-style: normal;
    font-weight: 400;
    line-height: 120%;
  }

  &--aligned-bottom {
    margin-top: auto;
  }

  &--orange {
    color: #fe5000;
  }

  &--aligned-right {
    margin-left: auto;
  }
}

.advent-modal {
  background: rgba(0, 0, 0, 0.7);
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overscroll-behavior-y: contain;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
  z-index: 500;
  display: flex;
  flex-direction: column;
  transition: opacity 0.4s, visibility 0s linear 0.4s;
  opacity: 0;
  visibility: hidden;
  padding: 4rem var(--content-padding);

  @include breakpoint(mobile) {
    padding: 2.4rem;
    overflow-x: clip;
  }

  &.active {
    opacity: 1;
    visibility: inherit;
    transition: opacity 0.4s, visibility 0.4s;
  }

  body:not(.loaded) & {
    display: none;
  }
}

.advent-modal__inner {
  width: 100%;
  margin: auto;
  max-width: 125rem;
  display: grid;
  grid-template-columns: minmax(0, 1fr);
  grid-template-areas: "stack";

  @include breakpoint(mobile) {
    max-width: none;
  }

  picture {
    display: contents;
  }
}

.advent-modal__image {
  grid-area: stack;
}

.advent-modal__content {
  grid-area: stack;
  padding: 15rem 10rem 7rem;
  color: white;
  display: flex;
  flex-direction: column;
  position: relative;

  @include breakpoint(mobile) {
    padding: 2.4rem 1rem;
    padding-top: 8rem;
  }
}

.advent-modal__date {
  font-size: 6.4rem;
  font-style: normal;
  font-weight: 400;
  line-height: 120%;
  font-family: var(--wiguru), sans-serif;

  @include breakpoint(mobile) {
    font-size: 3.2rem;
    font-style: normal;
    font-weight: 400;
    line-height: 120%;
  }
}

.advent-modal__poll {
  margin-top: 5rem;
  position: relative;
  flex-grow: 1;

  .validation-error {
    width: 100%;
  }

  @include breakpoint(mobile) {
    margin-top: 2rem;
  }
}

.advent-modal__poll-heading {
  font-size: 4.8rem;
  font-style: normal;
  font-weight: 400;
  line-height: 120%;
  font-family: var(--wiguru), sans-serif;
  text-align: center;
  @include breakpoint(mobile) {
    font-size: 2rem;
    font-style: normal;
    font-weight: 400;
    line-height: 120%;
  }
}

.advent-modal__poll-form {
  position: relative;
  z-index: 1;
  max-width: 89rem;
  display: flex;
  flex-direction: column;
  margin-top: 5rem;

  @include breakpoint(mobile) {
    margin-top: 2.4rem;
    max-width: none;
  }
}

.advent-modal__poll-form-fields {
  display: flex;
  flex-direction: column;
  gap: 2rem;

  color: black;
  padding: 3.2rem 6rem;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url("../images/modal-poll-bg.svg");
  background-size: 100% 100%;
  filter: drop-shadow(0 0.24rem 1.98rem rgba(0, 0, 0, 0.25));

  @include breakpoint(mobile) {
    padding: 2rem;
    padding-top: 1.5rem;

    gap: 0.3rem;
  }
}

.advent-modal__poll-form-field {
  @include breakpoint(mobile) {
    &:nth-child(1),
    &:nth-child(2) {
      flex-direction: row;
      flex-wrap: wrap;
      display: flex;

      .advent-modal__poll-form-field-label {
        width: 10rem;
      }

      .advent-modal__poll-form-input {
        width: 30%;
        flex-grow: 1;
      }
    }
  }
}

.advent-modal__poll-form-field-label {
  display: flex;
  align-items: baseline;
  font-family: var(--wiguru), sans-serif;
  font-size: 3rem;
  font-style: normal;
  font-weight: 400;
  line-height: 2.4rem;
  margin-bottom: 2rem;
  gap: 1rem;

  b {
    font-size: 2.4rem;
    font-style: normal;
    font-weight: 400;
    line-height: 2.4rem;
  }

  @include breakpoint(mobile) {
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 400;
    line-height: 120%;
    margin-bottom: 0.5rem;
    gap: 0.3rem;
    b {
      font-size: 1.2rem;
      font-style: normal;
      font-weight: 400;
      line-height: 120%;
    }
  }
}

.advent-modal__poll-form-input {
  display: block;
  height: 3.5rem;
  border-radius: 0.5rem;
  background: #fff;
  box-shadow: 0 0 1rem 0 rgba(0, 0, 0, 0.25);
  font-size: 1.4rem;
  padding: 0 2rem;
  color: black;

  @include breakpoint(mobile) {
    height: 1.7rem;
    border-radius: 0.2rem;
    background: #fff;
    box-shadow: 0 0 1rem 0 rgba(0, 0, 0, 0.25);
  }
}

.advent-modal__poll-form-submit {
  align-self: center;
  padding: 2rem 5rem;
  font-size: 3.2rem;
  border-radius: 2.7rem;
  background: #fff;
  box-shadow: 0 0.28rem 1.94rem 0 rgba(0, 0, 0, 0.25);
  font-style: normal;
  font-weight: 500;
  line-height: 120%;
  color: #fe5000;
  margin-top: 3rem;

  @include breakpoint(mobile) {
    font-size: 2rem;
    font-style: normal;
    font-weight: 500;
    line-height: 120%;
    margin-top: 4rem;
    align-self: flex-start;
    border-radius: 1rem;
    background: #fff;
    box-shadow: 0 0.28rem 1.94rem 0 rgba(0, 0, 0, 0.25);
    padding-left: 3rem;
    padding-right: 3rem;
  }
}

.advent-modal__poll-illustration {
  position: absolute;
  width: 60rem;
  height: auto;
  bottom: -14rem;
  right: -16rem;
  z-index: 2;
  pointer-events: none;
  max-width: none;

  @include breakpoint(mobile) {
    width: 20rem;
    right: -4rem;
    bottom: -3rem;
  }
}

.advent-modal__poll-success {
  margin-top: 8rem;
  display: flex;
  flex-direction: column;
  position: relative;
  flex-grow: 1;

  @include breakpoint(mobile) {
    margin-top: 3rem;
    flex-grow: 0;
    padding-bottom: 7rem;
  }
}

.advent-modal__poll-success-card {
  text-align: center;
  padding: 14.5rem 8rem;
  font-size: 4rem;
  font-style: normal;
  font-weight: 400;
  line-height: 100%;
  color: black;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url("../images/modal-poll-bg.svg");
  background-size: 100% 100%;
  filter: drop-shadow(0 0.24rem 1.98rem rgba(0, 0, 0, 0.25));
  font-family: var(--wiguru), sans-serif;
  min-height: 62.4rem;

  @include breakpoint(mobile) {
    font-size: 2rem;
    font-style: normal;
    font-weight: 400;
    line-height: 100%;
    padding: 4.6rem 2.7rem;
    min-height: auto;
  }

  p {
    margin-bottom: 3rem;
    @include breakpoint(mobile) {
      margin-bottom: 2.5rem;
    }

    &:last-child {
      margin-bottom: 0;
    }
  }
}

.advent-modal__poll-success-link {
  align-self: center;
  margin-top: 5.5rem;
  font-size: 3.2rem;
  color: #fe5000;
  padding: 2rem 10rem;
  font-style: normal;
  font-weight: 500;
  line-height: 120%;
  border-radius: 2.7rem;
  background: #fff;
  box-shadow: 0 0.28rem 1.94rem 0 rgba(0, 0, 0, 0.25);

  @include breakpoint(mobile) {
    align-self: flex-start;
    font-size: 2rem;
    font-style: normal;
    font-weight: 500;
    line-height: 120%;
    padding: 2.2rem 6rem;
    border-radius: 1rem;
    background: #fff;
    box-shadow: 0 0.28rem 1.94rem 0 rgba(0, 0, 0, 0.25);
    margin-top: 3rem;
  }

  &:link,
  &:visited {
    color: #fe5000;
  }
}

.advent-modal__checklist {
  display: flex;
  flex-direction: column;
}

.advent-modal__checklist-heading {
  font-size: 9.6rem;
  font-style: normal;
  font-weight: 400;
  line-height: 120%;
  font-family: var(--wiguru), sans-serif;
  @include breakpoint(mobile) {
    font-size: 3.2rem;
    font-style: normal;
    font-weight: 400;
    line-height: 120%;
  }
}

.advent-modal__checklist-list {
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  grid-gap: 2rem;
  grid-row-gap: 4rem;
  margin-top: -30rem;
  @include breakpoint(mobile) {
    grid-gap: 1rem;
    margin-top: -8rem;
  }
}

.advent-modal__checklist-list-item {
  &:first-child {
    grid-column: 3 / 4;
  }
}

.advent-modal__checklist-card-image {
  height: 20rem;
  object-fit: contain;
  max-width: 100%;
  @include breakpoint(mobile) {
    height: 9rem;
  }
}

.advent-modal__checklist-card-checkbox {
  display: flex;
  align-items: flex-start;
  gap: 2.5rem;
  font-size: 4rem;
  font-style: normal;
  font-weight: 400;
  line-height: 100%;
  color: white;
  font-family: var(--wiguru), sans-serif;

  @include breakpoint(mobile) {
    font-size: 1.6rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.6rem;
    gap: 0.6rem;
  }
}

.advent-modal__checklist-card-mark {
  flex-shrink: 0;
  width: 3rem;
  height: 3.5rem;
  border-radius: 0.5rem;
  background: #fff;
  box-shadow: 0 0 1rem 0 rgba(0, 0, 0, 0.25);
  margin-top: 0.3rem;

  @include breakpoint(mobile) {
    width: 1.5rem;
    height: 1.7rem;
    border-radius: 0.2rem;
    background: #fff;
    box-shadow: 0 0 1rem 0 rgba(0, 0, 0, 0.25);
    position: relative;
    top: -0.3rem;
  }
}

.advent-modal__checklist-link {
  align-self: center;
  text-align: center;
  font-size: 3.2rem;
  font-style: normal;
  font-weight: 500;
  line-height: 120%;
  color: #fe5000;
  padding: 2rem 4rem;
  border-radius: 2.7rem;
  background: #fff;
  box-shadow: 0 0.28rem 1.94rem 0 rgba(0, 0, 0, 0.25);
  margin-top: 2rem;

  &:link,
  &:visited {
    color: #fe5000;
  }

  @include breakpoint(mobile) {
    margin-top: 5rem;
    font-size: 2rem;
    font-style: normal;
    font-weight: 500;
    line-height: 120%;
    padding: 1.8rem 3.6rem;
    align-self: stretch;
    border-radius: 1rem;
    background: #fff;
    box-shadow: 0 0.28rem 1.94rem 0 rgba(0, 0, 0, 0.25);
  }
}

.advent-modal__ogonek {
  display: flex;
  flex-direction: column;
  position: relative;
  flex-grow: 1;
  margin-top: 4rem;
  @include breakpoint(mobile) {
    margin-top: 2rem;
  }
}

.advent-modal__ogonek-text {
  font-size: 6.4rem;
  font-style: normal;
  font-weight: 400;
  line-height: 120%;
  font-family: var(--wiguru), sans-serif;

  @include breakpoint(mobile) {
    font-size: 2rem;
    font-style: normal;
    font-weight: 400;
    line-height: 120%;
  }

  p {
    margin-top: 4rem;
    @include breakpoint(mobile) {
      margin-top: 1rem;
    }

    &:first-child {
      margin-top: 0;
    }
  }
}

.advent-modal__ogonek-links {
  display: flex;
  align-items: center;
  gap: 5rem;
  flex-wrap: wrap;
  margin-top: 15rem;

  @include breakpoint(mobile) {
    flex-wrap: nowrap;
    margin-top: 3rem;
    align-items: flex-start;
    gap: 2.4rem;
    flex-direction: column;
  }
}

.advent-modal__ogonek-link {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;

  @include breakpoint(mobile) {
    align-items: flex-start;
    gap: 0.3rem;
  }
}

.advent-modal__ogonek-link-image {
  width: 11.1rem;
  height: 11.1rem;
  object-fit: contain;
  filter: drop-shadow(0 0.24rem 1.98rem rgba(0, 0, 0, 0.25));

  @include breakpoint(mobile) {
    width: 7rem;
    height: 7rem;
  }
}

.advent-modal__ogonek-link-text {
  font-size: 2.4rem;
  font-style: normal;
  font-weight: 400;
  line-height: 120%;
  font-family: var(--wiguru), sans-serif;

  @include breakpoint(mobile) {
    font-size: 2rem;
    font-style: normal;
    font-weight: 400;
    line-height: 120%;
  }
}

.advent-modal__ogonek-remark {
  font-family: var(--wiguru), sans-serif;
  font-size: 4.8rem;
  font-style: normal;
  font-weight: 400;
  line-height: 120%;
  margin-top: 3rem;
  @include breakpoint(mobile) {
    font-size: 2rem;
    font-style: normal;
    font-weight: 400;
    line-height: 120%;
    margin-top: 2rem;
  }
}

.advent-modal__ogonek-illustration {
  position: absolute;
  pointer-events: none;
  width: 66rem;
  height: auto;
  right: -10rem;
  bottom: -10rem;
  z-index: 2;

  @include breakpoint(mobile) {
    width: 28rem;
    bottom: 8rem;
    right: -2rem;
  }
}

.advent-modal__gifts {
  display: flex;
  flex-direction: column;

  @include breakpoint(mobile) {
    padding: 3rem 1rem;
  }
}

.advent-modal__gifts-title {
  font-size: 6.4rem;
  font-style: normal;
  font-weight: 400;
  line-height: 120%;
  font-family: var(--wiguru), sans-serif;
  margin-bottom: 4rem;

  @include breakpoint(mobile) {
    font-size: 3.2rem;
    font-style: normal;
    font-weight: 400;
    line-height: 120%;
    margin-bottom: 2.4rem;
  }
}

.advent-modal__gifts-text {
  max-width: 90rem;
  align-self: center;
  text-align: center;
  font-size: 6.4rem;
  font-style: normal;
  font-weight: 400;
  line-height: 120%;
  font-family: var(--wiguru), sans-serif;

  @include breakpoint(mobile) {
    font-size: 2rem;
    font-style: normal;
    font-weight: 400;
    line-height: 120%;
    align-self: stretch;
    text-align: left;
  }

  p {
    margin-bottom: 4rem;
    @include breakpoint(mobile) {
      margin-bottom: 2rem;
    }

    &:last-child {
      margin-bottom: 0;
    }
  }
}

.advent-modal__gifts-image {
  width: 58rem;
  height: auto;
  align-self: center;

  @include breakpoint(mobile) {
    width: 100%;
    align-self: stretch;
    margin-top: 3rem;
  }
}

.advent-modal__galactic {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.advent-modal__goroscope-large-title,
.advent-modal__galactic-title {
  font-size: 9.6rem;
  font-style: normal;
  font-weight: 400;
  line-height: 120%;
  font-family: var(--wiguru), sans-serif;


  @include breakpoint(mobile) {
    font-size: 3.2rem;
    font-style: normal;
    font-weight: 400;
    line-height: 120%;

  }
}

.advent-modal__galactic-form {
  display: flex;
  flex-direction: column;
  background-image: url("../images/galactic-form-bg.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100% 100%;
  color: black;
  padding: 5.6rem;
  margin-top: 3.2rem;

  @include breakpoint(mobile) {
    all: revert;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;

    margin-top: 2rem;
  }
}

.advent-modal__galactic-form-inner {
  display: contents;

  @include breakpoint(mobile) {
    padding: 3rem 2rem;
    background-image: url("../images/galactic-form-bg.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100% 100%;
    color: black;
    display: flex;
    flex-direction: column;
    filter: drop-shadow(0 0.28rem 1.94rem rgba(0, 0, 0, 0.25));
  }
}

.advent-modal__galactic-form-text {
  font-size: 3rem;
  font-style: normal;
  font-weight: 400;
  line-height: 100%;
  font-family: var(--wiguru), sans-serif;

  @include breakpoint(mobile) {
    font-size: 1.6rem;
    font-style: normal;
    font-weight: 400;
    line-height: 100%;
  }

  p {
    margin-bottom: 2rem;
    @include breakpoint(mobile) {
      margin-bottom: 1rem;
    }

    &:last-child {
      margin-bottom: 0;
    }
  }
}

.advent-modal__galactic-form-inputs {
  display: flex;
  align-items: center;
  gap: 1.6rem;
  margin-top: 3rem;
  @include breakpoint(mobile) {
    flex-direction: column;
    align-items: stretch;
    gap: 1rem;
    margin-top: 2rem;
  }
}

.advent-modal__galactic-form-inputs-label {
  font-size: 3.2rem;
  font-style: normal;
  font-weight: 400;
  line-height: 120%;
  color: #fe5000;
  font-family: var(--wiguru), sans-serif;
  @include breakpoint(mobile) {
    font-size: 2rem;
    font-style: normal;
    font-weight: 400;
  }

}

.advent-modal__galactic-form-submit {
  align-self: flex-start;
  text-align: center;
  font-size: 3.2rem;
  font-style: normal;
  font-weight: 500;
  line-height: 120%;
  color: white;
  padding: 2.4rem 4rem;
  border-radius: 2.7rem;
  background: #fe5000;
  box-shadow: 0 0.28rem 1.94rem 0 rgba(0, 0, 0, 0.25);
  margin-top: 3.5rem;

  @include breakpoint(mobile) {
    font-size: 2rem;
    font-style: normal;
    font-weight: 500;
    line-height: 120%;
    padding: 2rem 1rem;
    border-radius: 10px;
    background: #FFF;
    box-shadow: 0 0.28rem 1.94rem 0 rgba(0, 0, 0, 0.25);
    color: #FE5000;


  }

  &:link,
  &:visited {
    color: white;
  }
}

.advent-modal__galactic-remark {
  margin-top: auto;
  font-size: 3rem;
  font-style: normal;
  font-weight: 400;
  line-height: 100%;
  text-align: center;
  font-family: var(--wiguru), sans-serif;
  color: black;

  @include breakpoint(mobile) {
    font-size: 1.2rem;
    font-style: normal;
    font-weight: 400;
    line-height: 100%;
    max-width: 20.4rem;
    text-align: left;
  }
}

.advent-modal__galactic-form-inputs-wrapper {
  display: flex;
  align-items: center;
  gap: 0.8rem;
  @include breakpoint(mobile) {
    gap: .4rem;
  }
}

.advent-modal__galactic-form-inputs-wrapper input {
  width: 3rem;
  height: 3.5rem;
  font-size: 1.6rem;
  text-align: center;
  border: none;
  border-radius: 0.5rem;
  box-shadow: 0 0 1rem 0 rgba(0, 0, 0, 0.25);
  outline: none;

  @include breakpoint(mobile) {
    width: 1.4rem;
    height: 1.7rem;
    border-radius: 0.2rem;
    background: #FFF;
    box-shadow: 0 0 1rem 0 rgba(0, 0, 0, 0.25);
  }
}

.advent-modal__galactic-form-inputs-wrapper span {
  font-size: 3.2rem;
  font-style: normal;
  font-weight: 400;
  line-height: 100%;
  color: #ff6a2b;
  @include breakpoint(mobile) {
    font-size: 2rem;
    font-style: normal;
    font-weight: 400;
    line-height: 100%;
  }
}


.advent-modal__galactic-illustration {
  position: absolute;
  right: 4.2rem;
  bottom: 7rem;
  width: 55rem;
  height: auto;
  pointer-events: none;

  @include breakpoint(mobile) {
    width: 24rem;
    right: -5rem;
    bottom: -1rem;
  }
}


.advent-modal__goroscope {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  @include breakpoint(mobile) {
    margin-top: 2.4rem;
  }
}

.advent-modal__goroscope-card {
  padding: 5rem 8rem;
  width: 89rem;
  min-height: 72rem;
  margin-top: 2rem;
  max-width: 100%;
  background-image: url("../images/goroscope.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100% 100%;
  color: black;
  filter: drop-shadow(0 0.28rem 1.94rem rgba(0, 0, 0, 0.25));

  @include breakpoint(mobile) {
    padding: 2.6rem 2rem;
    min-height: 36rem;
    width: auto;
  }
}

.advent-modal__goroscope-title, .advent-modal__goroscope-sign {
  font-size: 4rem;
  font-style: normal;
  font-weight: 400;
  line-height: 100%;
  color: #FE5000;
  margin-bottom: 2.7rem;
  display: block;
  font-family: var(--wiguru), sans-serif;

  @include breakpoint(mobile) {
    font-size: 1.6rem;
    font-style: normal;
    font-weight: 400;
    line-height: 100%;
    color: black;
    margin-bottom: 1.6rem;
  }
}

.advent-modal__goroscope-title {
  @include breakpoint(mobile) {
    font-size: 3.2rem;
    color: #FE5000;
    margin-bottom: 1.6rem;
    font-style: normal;
    font-weight: 400;
    line-height: 100%;
  }
}


.advent-modal__goroscrope-text {
  font-size: 4rem;
  font-style: normal;
  font-weight: 400;
  line-height: 100%;
  font-family: var(--wiguru), sans-serif;

  @include breakpoint(mobile) {
    font-size: 1.6rem;
    font-style: normal;
    font-weight: 400;
    line-height: 100%;
  }
}

.advent-modal__goroscope-image {
  width: 55rem;
  height: auto;
  position: absolute;
  right: -5rem;
  bottom: 0;

  @include breakpoint(mobile) {
    width: 24rem;
  }
}

.advent-modal__galactic-result {
  padding: 5.6rem;
  padding-top: 14.2rem;
  min-height: 53rem;
  display: flex;
  flex-direction: column;
  filter: drop-shadow(0 0.28rem 1.94rem rgba(0, 0, 0, 0.25));
  background-image: url("../images/galactic-result-card.svg");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;
  margin-top: 3.2rem;
  color: black;

  @include breakpoint(mobile) {
    all: revert;
    box-sizing: border-box;
    margin-top: 3.2rem;
  }
}

.advent-modal__galactic-result-btns {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  margin-top: auto;
  align-self: flex-start;

  @include breakpoint(mobile) {
    margin: 0;
    gap: 1.5rem;
  }
}

.advent-modal__galactic-result-btn {
  font-size: 3.2rem;
  font-style: normal;
  font-weight: 500;
  line-height: 120%;
  padding: 2rem 3rem;
  border-radius: 2.7rem;
  background: #FE5000;
  box-shadow: 0 0.24rem 1.98rem 0 rgba(0, 0, 0, 0.25);
  color: white;
  text-align: center;

  &:link,
  &:visited {
    color: white;
  }

  @include breakpoint(mobile) {
    font-size: 2rem;
    font-style: normal;
    font-weight: 500;
    line-height: 120%;
    padding: 2rem 2.4rem;
    border-radius: 1rem;
    background-color: #fff;
    box-shadow: 0 0.28rem 1.94rem 0 rgba(0, 0, 0, 0.25);
    color: #FE5000;

    &:link,
    &:visited {
      color: #FE5000;
    }


  }

  &--with-bg {
    background-image: url('../images/galactic-btn-bg.webp');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    color: white;

    &:link,
    &:visited {
      color: white;
    }
  }


}

.advent-modal__galactic-result-wrapper {
  display: flex;
  align-items: baseline;
  gap: 2.6rem;

  @include breakpoint(mobile) {
    padding: 1.6rem;
    background-image: url("../images/galactic-result-card.svg");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center;
    filter: drop-shadow(0 0.28rem 1.94rem rgba(0, 0, 0, 0.25));
    margin-bottom: 3.2rem;
    color: black;
    min-height: 15rem;

  }
}

.advent-modal__galactic-result-title {
  font-size: 6.4rem;
  font-style: normal;
  font-weight: 400;
  line-height: 120%;
  font-family: var(--wiguru), sans-serif;
  @include breakpoint(mobile) {
    font-size: 3.2rem;
    font-style: normal;
    font-weight: 400;
    line-height: 120%;
  }
}

.advent-modal__galactic-result-items {
  display: flex;
  align-items: center;
  gap: 5.2rem;
  @include breakpoint(mobile) {
    flex-direction: column;
    align-items: stretch;
    gap: 1.2rem;
  }
}

.advent-modal__galactic-result-item {
  display: flex;
  align-items: flex-end;
  gap: 2rem;

  @include breakpoint(mobile) {
    gap: 1.6rem;
  }
}

.advent-modal__galactic-result-item-key {
  width: 14.1rem;
  height: 3.5rem;
  border-radius: 0.5rem;
  background: #FFF;
  box-shadow: 0 0 1rem 0 rgba(0, 0, 0, 0.25);
  font-family: var(--wiguru), sans-serif;
  font-size: 3.2rem;
  font-style: normal;
  font-weight: 400;
  line-height: 100%;
  display: grid;
  place-items: center;

  @include breakpoint(mobile) {
    border-radius: 0.5rem;
    background: #FFF;
    box-shadow: 0 0 1rem 0 rgba(0, 0, 0, 0.25);
    font-size: 2rem;
    width: 14rem;
    height: 2.3rem;
  }
}

.advent-modal__galactic-result-item-value {
  font-size: 3.2rem;
  font-style: normal;
  font-weight: 400;
  font-family: var(--wiguru), sans-serif;
  line-height: 120%;
  @include breakpoint(mobile) {
    font-size: 2rem;
    font-style: normal;
    font-weight: 400;
    line-height: 120%;
  }
}