
.cube-coverage {
  @include blockWrapper;
  padding-top: 3.6rem;
  padding-bottom: 3.2rem;
  position: relative;
  z-index: 1;
  background-image: url('../images/cube-pattern.svg'), linear-gradient(to top, #FE5000 0%, #FE5000 20%, transparent 80%), linear-gradient(270deg, #FFF 33.17%, #F1F1F1 70.67%);
  background-size: 142rem auto, cover, cover;
  background-repeat: no-repeat;
  background-position: 30% 102%;
  background-blend-mode: overlay, normal, normal;

  @include breakpoint(mobile) {
    padding-top: 1.7rem;
    padding-bottom: 1.3rem;
    background-image: linear-gradient(to top, #FE5000 0%, transparent 80%), linear-gradient(270deg, #FFF 33.17%, #F1F1F1 70.67%);
    background-position: center;
    background-blend-mode: normal;
    background-size: cover;
  }
}


.cube-coverage__content {
  @include blockContent;
  display: flex;
  flex-direction: column;

  @include breakpoint(mobile) {
    gap: 1.6rem;
  }
}

.cube-coverage__heading {
  text-wrap: balance;
  font-size: 4.8rem;
  font-style: normal;
  font-weight: 700;
  line-height: 4.8rem;
  color: #FE5000;
  margin-bottom: 8rem;

  @include breakpoint(mobile) {
    font-size: 2.4rem;
    font-style: normal;
    font-weight: 700;
    line-height: 2.4rem;
    margin: 0;
    order: -30;
    margin-bottom: 2rem;
  }
}

.cube-coverage__row {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  grid-gap: 2.4rem;
  @include breakpoint(mobile) {
    display: contents;
  }
}

.cube-coverage__image-container {
  display: block;

  @include breakpoint(mobile) {
    width: 32rem;
    align-self: center;
    position: relative;
    z-index: 1;
    &::before {
      content: '';
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      z-index: -1;
      width: 180%;

      aspect-ratio: 1 / 1;

      background-size: contain;
      background-repeat: no-repeat;
      background-position: center;
      background-image: url('../images/cube-coverage-mobile-pattern.svg');
      pointer-events: none;
      margin-top: 10rem;
    }
  }
}

.cube-coverage__image {
  display: block;
  width: 100%;
  height: auto;
  filter: drop-shadow(0 2rem 2rem rgb(0 0 0 / 50%));

  @include breakpoint(mobile) {
    filter: drop-shadow(0 2rem 2rem rgb(0 0 0 / 30%));
  }

}

.cube-coverage__text-content {
  font-size: 3.2rem;
  font-style: normal;
  font-weight: 400;
  line-height: 3.2rem;
  padding-top: 5.4rem;

  @include breakpoint(mobile) {
    padding: 0;
    font-size: 1.6rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.6rem;
    order: -15;
  }

  p {
    margin-top: 1rem;

    &:first-child {
      margin-top: 0;
    }


  }
}

.cube-coverage__panel {
  padding: 3.5rem 4.4rem;
  border-radius: 2.7rem;
  background: #EEE;
  box-shadow: 0 0.27rem 1.98rem 0 rgba(182, 182, 182, 0.25) inset;
  color: black;
  display: flex;
  align-items: center;
  gap: 2rem;
  justify-content: space-between;

  @include breakpoint(mobile) {
    padding: 2rem;
    border-radius: 1.5rem;
    background: #EEE;
    box-shadow: 0 0.27rem 1.98rem 0 rgba(182, 182, 182, 0.25) inset;
    flex-direction: column;
    gap: 2rem;
    align-items: stretch;
    display: flex;
    z-index: 8;
  }
}

.cube-coverage__panel-text {
  font-size: 3.2rem;
  font-style: normal;
  font-weight: 500;
  line-height: 5.5rem;
  text-transform: uppercase;
  @include breakpoint(mobile) {
    font-size: 2.4rem;
    font-style: normal;
    font-weight: 700;
    line-height: 3.2rem;
    text-transform: revert;
  }
}

.cube-coverage__panel-link {
  display: block;
  flex-shrink: 0;
  text-align: center;
  padding: 1.8rem 9.5rem;
  font-size: 2rem;
  border-radius: 10rem;
  background: #FE5000;
  box-shadow: 0 0.27rem 1.9rem 0 rgba(0, 0, 0, 0.25);
  font-style: normal;
  font-weight: 500;
  line-height: 120%;
  color: white;

  &:link,
  &:visited {
    color: white;
  }

  @include breakpoint(mobile) {
    align-self: stretch;
    font-size: 2rem;
    font-style: normal;
    font-weight: 500;
    line-height: 120%;
    padding: 1.8rem 3.6rem;
    border-radius: 20rem;
  }

}