.file-field {
  display: flex;
  align-items: center;
  gap: .8rem;
  height: 7rem;
  padding: 0 2rem;
  border-radius: 2.5rem;
  background: #FFF;
  box-shadow: 0 0 1rem 0 rgba(0, 0, 0, 0.25);
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 400;
  line-height: 100%;
  position: relative;
  color: #C8C8C8;
  width: 100%;


  @include breakpoint(mobile) {
    height: 5rem;
    border-radius: 1rem;
    background: #FFF;
    box-shadow: 0 0.28rem 1.94rem 0 rgba(0, 0, 0, 0.25);
    font-size: 1.6rem;
    font-style: normal;
    font-weight: 400;
    line-height: 120%;
    text-align: center;
  }


  &.file-loaded {
    color: black;
  }

  input {
    position: absolute;
    inset: 0;
    opacity: 0;
    cursor: pointer;
  }
}


.file-field__text {
  min-width: 0;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
