.friend {
  @include blockWrapper;
  background: linear-gradient(180deg, #fff 34.17%, #acdbf6 100%);
  padding-bottom: 10rem;
  @include breakpoint(mobile) {
    padding-bottom: 5rem;
  }
}

.friend__content {
  @include blockContent;
  display: flex;
  flex-direction: column;
}

.friend__heading {
  font-size: 4.8rem;
  font-style: normal;
  font-weight: 700;
  line-height: 120%;
  margin-bottom: 4.8rem;

  @include breakpoint(mobile) {
    font-size: 2rem;
    font-style: normal;
    font-weight: 700;
    line-height: 120%;
    margin-bottom: 2rem;
  }
}

.friend__list {
  display: flex;
  flex-direction: column;
  gap: 2rem;

}

.friend__list-item {
  display: grid;
  grid-template-columns: 7rem 1fr;
  align-items: flex-end;
  gap: 2rem;
  border-radius: 2.5rem;
  background: rgba(255, 255, 255, 0.60);
  box-shadow: 0 0.4rem 1.03rem 0 #6CC5DE inset, 0 0.28rem 1.98rem 0 rgba(0, 0, 0, 0.25);
  padding: 2rem 2.6rem;
  font-size: 3.2rem;
  font-style: normal;
  font-weight: 700;
  line-height: 4.8rem;

  @include breakpoint(mobile) {
    font-size: 1.6rem;
    font-style: normal;
    font-weight: 500;
    line-height: 1.6rem;
    border-radius: 2.5rem;
    background: rgba(255, 255, 255, 0.60);
    box-shadow: 0 0.4rem 1.03rem 0 #6CC5DE inset, 0 0.27999999999999997rem 1.98rem 0 rgba(0, 0, 0, 0.25);
    grid-template-columns: 4rem 1fr;
  }

  svg {
    height: 7rem;
    width: auto;
    overflow: visible;
    @include breakpoint(mobile) {
      height: 5rem;
      margin-bottom: -.5rem;
    }

  }

  &::before {
    display: none;
  }
}

.friend__reward {
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 5rem 10rem;
  border-radius: 2.5rem;
  background: rgba(254, 80, 0, 0.40);
  box-shadow: 0 0.4rem 1.03rem 0 #FE5000 inset, 0 0.28rem 1.98rem 0 rgba(0, 0, 0, 0.25);
  color: white;
  font-size: 3.2rem;
  font-style: normal;
  font-weight: 500;
  line-height: 3.5rem;
  margin-top: 2rem;
  position: relative;
  z-index: 1;
  @include breakpoint(mobile) {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3rem;
    padding: 2.5rem 1.7rem 1.7rem;
    border-radius: 2.5rem;
    background: rgba(254, 80, 0, 0.40);
    box-shadow: 0 0.4rem 1.03rem 0 #FE5000 inset, 0 0.28rem 1.98rem 0 rgba(0, 0, 0, 0.25);
    font-size: 1.6rem;
    font-style: normal;
    font-weight: 500;
    line-height: 1.6rem;
  }

  svg {
    overflow: visible;
    position: absolute;
    z-index: -1;
    width: 14.5rem;
    height: auto;
    left: 3.6rem;
    top: 3.6rem;
    @include breakpoint(mobile) {
      position: static;
      width: 8.6rem;
      height: 8.6rem;
    }
  }

  a {
    text-decoration: underline;
    //text-underline-offset: 1px;
    //text-decoration-thickness: 1px;
    //text-decoration-skip-ink: none;
  }

  p {
    margin-top: 2rem;

    &:first-child {
      margin-top: 0;
    }
  }
}

.friend__link {
  display: block;
  text-align: center;
  font-size: 3.2rem;
  font-style: normal;
  font-weight: 500;
  line-height: 120%;
  padding: 1.6rem 3.2rem;
  border-radius: 2.5rem;
  background: #FE5000;
  box-shadow: 0 0.4rem 0.4rem 0 #FFB990 inset;
  color: white;
  align-self: center;
  margin-top: 3rem;

  span {
    &:nth-child(2) {
      display: none;
    }
  }

  @include breakpoint(mobile) {
    font-size: 2rem;
    font-style: normal;
    font-weight: 500;
    line-height: 120%;
    border-radius: 1rem;
    background: #FE5000;
    box-shadow: 0 0.4rem 0.4rem 0 #FFB990 inset;
    padding: 2.4rem 3.8rem;
    margin-top: 5.5rem;
    align-self: stretch;
    span {
      &:nth-child(1) {
        display: none;
      }

      &:nth-child(2) {
        display: inline;
      }
    }
  }


  &:link,
  &:visited {
    color: white;
  }
}