.has-questions {
  @include blockWrapper;
  padding-top: 8rem;
  padding-bottom: 8rem;
  background: linear-gradient(180deg, #b4efdc 0%, #b4dcf9 100%);

  &.has-questions--no-bg {
    background: none;
    padding-top: 0;
  }

  &--dark {
    padding-top: 8rem;
    background: #2B2B2B;
    color: white;
  }

  @include breakpoint(mobile) {
    background: #2b2b2b;
    color: white;
    padding-top: 7rem;
    padding-bottom: 7rem;
    margin-bottom: -1px;

    &.has-questions--no-bg {
      background: none;
      color: inherit;
      padding-top: 0;
    }
  }
}

.has-questions__content {
  @include blockContent;
  display: flex;
  flex-direction: column;
}

.has-questions__heading {
  text-align: center;
  align-self: center;
  text-wrap: balance;
  font-style: normal;
  font-weight: 700;
  font-size: 4.8rem;
  line-height: 6rem;
  text-align: center;
  margin-bottom: 6rem;

  @include breakpoint(mobile) {
    font-style: normal;
    font-weight: 700;
    font-size: 3.2rem;
    line-height: 3.8rem;
    margin-bottom: 3rem;

    .has-questions--no-bg & {
      font-size: 2.8rem;
      font-style: normal;
      font-weight: 700;
      line-height: 1.2;

      br {
        display: none;
      }
    }
  }
}

.has-questions__form {
  align-self: center;
  width: 100%;
  max-width: 72rem;
  display: flex;
  flex-direction: column;

  @include breakpoint(mobile) {
    max-width: 32rem;
  }
}

.has-questions__form-fields {
  display: flex;
  flex-direction: column;
  gap: 2.7rem;
  margin-bottom: 9rem;

  @include breakpoint(mobile) {
    gap: 3.2rem;
    margin-bottom: 5rem;
  }
}

.has-questions__form-input {
  display: block;
  width: 100%;
  height: auto;
  font-style: normal;
  font-weight: 500;
  font-size: 3.5rem;
  line-height: 4.2rem;
  height: 8rem;
  padding: 0 3rem;
  background: #ffffff;
  border: 2px solid #000000;
  border-radius: 1rem;
  color: black;
  transition: color 0.2s, border-color 0.2s;

  &::placeholder {
    color: black;
  }

  .has-questions--dark & {
    background: transparent;
    border-color: white;
    color: white;

    &::placeholder {
      color: white;
    }
  }

  @include breakpoint(mobile) {
    height: 7.5rem;
    border: 2px solid #ffffff;
    border-radius: 1rem;
    font-style: normal;
    font-weight: 500;
    font-size: 2rem;
    line-height: 2.4rem;
    background-color: transparent;
    color: white;
    &::placeholder {
      color: white;
    }
    .has-questions--no-bg & {
      border-color: black;
      color: black;

      &::placeholder {
        color: black;
      }
    }
  }
}

.has-questions__form-policy {
  margin-bottom: 8rem;

  @include breakpoint(mobile) {
    margin-bottom: 4.6rem;
  }
}

.has-questions__form-policy-checkbox {
  cursor: pointer;
  user-select: none;
  gap: 1.9rem;
  display: flex;
  align-items: center;

  @include breakpoint(mobile) {
    align-items: flex-start;
  }
}

.has-questions__form-policy-checkbox-input {
  display: none;
}

.has-questions__form-policy-checkbox-mark {
  flex-shrink: 0;
  width: 2.5rem;
  height: 2.5rem;
  background: #ffffff;
  border: 2px solid #000000;

  display: grid;
  place-items: center;

  .has-questions--dark & {
    border-color: white;
    background: transparent;
  }

  &::before {
    content: "";
    width: 1.4rem;
    height: 1.4rem;
    background-color: var(--primary-color);
    opacity: 0;
    transition: opacity 0.2s;
  }
}

.has-questions__form-policy-checkbox-input:checked
~ .has-questions__form-policy-checkbox-mark {
  &::before {
    opacity: 1;
  }
}

.has-questions__form-policy-checkbox-text {
  font-style: normal;
  font-weight: 400;
  font-size: 2rem;
  line-height: 2.4rem;
}

.has-questions__form-submit {
  align-self: center;
  text-align: center;
  padding: 3rem 8rem;
  font-style: normal;
  font-weight: 500;
  font-size: 3.5rem;
  line-height: 4.2rem;
  color: white;
  border-radius: 0.8rem;
  background-color: var(--primary-color);
  justify-content: center;

  @include breakpoint(mobile) {
    padding: 1.8rem;
    font-style: normal;
    font-weight: 500;
    font-size: 3.2rem;
    line-height: 3.8rem;
    align-self: stretch;
  }

  &:link,
  &:visited {
    color: white;
  }
}
