.custom-select,
.custom-select::picker(select) { /* The ::picker pseudo-element styles the dropdown list itself */
  appearance: base-select; /* Tells the browser to allow styling rather than using the system's default UI */
}

/* 2. Basic styling for the button part of the select */
.custom-select {
  appearance: none;
  appearance: base-select;
  cursor: pointer;
  width: 100%;
  padding: 0 2rem;
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 400;
  line-height: 100%;
  border-radius: 2.5rem;
  border: none;
  background: #FFF;
  box-shadow: 0 0.28rem 1.94rem 0 rgba(0, 0, 0, 0.25);
  color: black;
  height: 7rem;
  display: flex;
  align-items: center;


  @include breakpoint(mobile) {
    height: 5rem;
    border-radius: 1rem;
    background: #FFF;
    box-shadow: 0 0.28rem 1.94rem 0 rgba(0, 0, 0, 0.25);
    font-size: 1.6rem;
    font-style: normal;
    font-weight: 400;
    line-height: 120%;
    text-align: center;
  }
}

.custom-select::picker(select) {
  border: none;
  border-radius: 2.5rem;
  box-shadow: 0 0.28rem 1.94rem 0 rgba(0, 0, 0, 0.25);
  margin-block-end: .4rem;
  margin-block-start: .4rem;

  @include breakpoint(mobile) {
    border-radius: 1rem;
    background: #FFF;
    box-shadow: 0 0.28rem 1.94rem 0 rgba(0, 0, 0, 0.25);
  }
}

.custom-select::picker-icon {
  content: url('/images/picker-icon.svg');
  transition: transform .2s;
  transform: scale(0.6);

}

.custom-select:has(option[value=""]:checked) {
  color: #C8C8C8;
}

.custom-select option {
  transition: background-color .2s, color .2s;
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 400;
  line-height: 100%;
}

.custom-select option::checkmark {
  display: none;
}

.custom-select option:checked {
  background-color: #FE5000;
  color: white;

}

.custom-select:open::picker-icon {
  transform: scale(0.6) rotate(180deg);

}

/* 3. Style the options (limited support) */
.custom-select option {
  /* Limited styling possible on options themselves, mostly basic text properties */
  padding: 1rem;

}
