:root {
  --primary-color: #fe5000;
  --text-color: #000;
  --roboto: "Roboto", sans-serif;
  --pt-root-ui: "PT Root UI", sans-serif;
  --wiguru: "WiGuru4";
  --content-padding: 4rem;
  --container-width: 124.3rem;

  @include breakpoint(mobile) {
    --content-padding: 1.6rem;
  }
}

.digital-week-page {
  @include breakpoint(mobile) {
    --content-padding: 4rem;
  }
}
