
.why-vzor {
  @include blockWrapper;
  padding-bottom: 25rem;
  background-color: #fff;

  @include breakpoint(mobile) {
    padding-top: 2.4rem;
    padding-bottom: 17rem;
    background-color: #000;
    color: white;
  }
}

.why-vzor__content {
  @include blockContent;
}

.why-vzor__row {
  display: flex;
  justify-content: space-between;
  gap: 4rem;
  @include breakpoint(mobile) {
    display: block;
  }
}

.why-vzor__left-col {
  display: flex;
  flex-direction: column;
  gap: 5rem;
  padding-top: 6rem;

  @include breakpoint(mobile) {
    padding: 0;
    gap: 2rem;
  }
}

.why-vzor__heading {
  font-size: 3.6rem;
  font-style: normal;
  font-weight: 700;
  line-height: 3.2rem;
  text-transform: uppercase;
  color: #FE5000;

  @include breakpoint(mobile) {
    font-size: 2.4rem;
    font-style: normal;
    font-weight: 700;
    line-height: 2.4rem;
    text-transform: uppercase;
    color: inherit;
  }

}

.why-vzor__accordions {
  max-width: 68rem;
  display: flex;
  flex-direction: column;
  gap: 1.6rem;

  @include breakpoint(mobile) {
    max-width: none;
    gap: 1.4rem;
  }
}

.why-vzor__image-wrapper {
  position: relative;
  width: 50rem;
  flex-shrink: 0;

  @include breakpoint(mobile) {
    display: none;
  }
}

.why-vzor__image {
  display: block;
  width: 100%;
  height: auto;
}

.why-vzor__accordion {
  border-radius: 2.7rem;
  transition: box-shadow .4s;
  background-color: #fff;


  &.active {

    box-shadow: 0 0.27rem 1.98rem 0 rgba(0, 0, 0, 0.25);
    @include breakpoint(mobile) {
      box-shadow: none;
    }
  }
}

.why-vzor__accordion-btn {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2.4rem 3rem;
  padding-left: 2.6rem;
  border-radius: 2.7rem;
  font-size: 3.6rem;
  font-style: normal;
  font-weight: 700;
  line-height: 3.2rem;
  text-align: left;
  background-color: #FE5000;
  color: white;
  width: 100%;

  @include breakpoint(mobile) {
    padding: 1.2rem 2.4rem;
    padding-left: 3rem;
    font-size: 2rem;
    font-style: normal;
    font-weight: 700;
    line-height: 3.2rem;

  }
}

.why-vzor__accordion-btn-plus {
  display: grid;
  place-items: center;
  flex-shrink: 0;

  &::before {
    content: '';
    grid-column: 1 / -1;
    grid-row: 1 / 2;
    display: block;
    width: 3rem;
    height: 1rem;
    background-color: white;

    @include breakpoint(mobile) {
      width: 1.5rem;
      height: .4rem;
    }
  }

  &::after {
    content: '';
    grid-column: 1 / -1;
    grid-row: 1 / 2;
    display: block;
    width: .8rem;
    height: 3.7rem;
    background-color: white;
    transition: transform .2s;
    @include breakpoint(mobile) {
      width: .4rem;
      height: 1.5rem;
    }
  }

  .why-vzor__accordion.active & {
    &::after {
      transform: scaleY(0);
    }
  }
}

.why-vzor__accordion-dropdown {
  display: grid;
  grid-template-rows: 0fr;
  transition: grid-template-rows 500ms;

  .why-vzor__accordion.active & {
    grid-template-rows: 1fr;
  }
}

.why-vzor__accordion-dropdown-inner {
  grid-row: 1 / 2;
  overflow: hidden;
}

.why-vzor__accordion-text {
  font-size: 2rem;
  font-style: normal;
  font-weight: 400;
  line-height: 2.4rem;
  padding: 1rem 3rem;
  color: black;

  @include breakpoint(mobile) {
    font-size: 1.2rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.2rem;
    padding: 2rem 1.6rem;
    padding-top: 1rem;

  }
}