.win-modal {
  background: rgba(0, 0, 0, 0.7);
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overscroll-behavior-y: contain;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
  z-index: 500;
  display: flex;
  flex-direction: column;
  transition: opacity 0.4s, visibility 0s linear 0.4s;
  opacity: 0;
  visibility: hidden;
  padding: 4rem var(--content-padding);
  &.active {
    opacity: 1;
    visibility: inherit;
    transition: opacity 0.4s, visibility 0.4s;
  }

  body:not(.loaded) & {
    display: none;
  }
}

.win-modal__inner {
  width: 100%;
  margin: auto;
  display: flex;
  flex-direction: column;
  position: relative;
  max-width: 94.4rem;
  border-radius: 2.5rem;
  background: #fff;
  box-shadow: 0rem 0.25rem 0.6438rem 0rem rgba(0, 0, 0, 0.25) inset;
  padding: 4.8rem;
  padding-top: 16rem;
  padding-bottom: 11rem;
  color: black;

  .win-modal--goroscope & {
    padding-top: 6rem;
    padding-bottom: 8rem;
  }

  @include breakpoint(mobile) {
    max-width: 34rem;
    border-radius: 2.5rem;
    background: #fff;
    box-shadow: 0rem 0.25rem 0.6438rem 0rem rgba(0, 0, 0, 0.25) inset;
    padding: 3.4rem;
    padding-bottom: 5rem;
    padding-top: 11rem;
  }
}

.win-modal__close {
  position: absolute;
  right: 4rem;
  top: 4rem;
  width: 4.4rem;
  height: 4.4rem;
  display: grid;
  place-items: center;
  border-radius: 50%;
  background-color: #fe5000;

  @include breakpoint(mobile) {
    width: 3rem;
    height: 3rem;
    top: 2.2rem;
    right: 2.2rem;
  }

  svg {
    width: 2.5rem;
    height: 2.5rem;
    fill: white;

    @include breakpoint(mobile) {
      width: 1.7rem;
      height: 1.7rem;
    }
  }
}

.win-modal__heading {
  text-align: center;
  font-size: 6.4rem;
  font-style: normal;
  font-weight: 700;
  line-height: 4rem;
  margin-bottom: 6rem;
  color: #fe5000;

  @include breakpoint(mobile) {
    font-size: 2rem;
    font-style: normal;
    font-weight: 700;
    line-height: 1.2;
    margin-bottom: 2rem;
  }
}

.win-modal__prize {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  margin-bottom: 6rem;

  @include breakpoint(mobile) {
    margin-bottom: 4rem;
    gap: 0;
  }
}

.win-modal__prize-icon {
  overflow: visible;
  svg {
    width: 14rem;
    height: auto;
    overflow: visible;

    @include breakpoint(mobile) {
      width: 10rem;
    }
  }
}

.win-modal__prize-name {
  font-size: 3.6rem;
  font-style: normal;
  font-weight: 700;
  line-height: 120%;
  text-align: center;
  color: #fe5000;
  margin: 0 auto;
  max-width: 67rem;

  @include breakpoint(mobile) {
    font-size: 2rem;
    font-style: normal;
    font-weight: 700;
    line-height: 4rem;
  }
}

.win-modal__text {
  font-size: 3.6rem;
  font-style: normal;
  font-weight: 400;
  line-height: 4rem;
  text-align: center;

  @include breakpoint(mobile) {
    font-size: 2rem;
    font-style: normal;
    font-weight: 400;
    line-height: 2rem;
  }
}

.win-modal__date {
  text-align: center;
  font-size: 3.6rem;
  font-style: normal;
  font-weight: 300;
  line-height: 120%;
  margin-bottom: 5rem;
  color: rgba(254, 80, 0, 1);

  @include breakpoint(mobile) {
    font-size: 1.6rem;
    margin-bottom: 1rem;
  }
}

.win-modal__image-wrapper {
  align-self: center;
  width: 18rem;
  height: 18rem;
  margin-bottom: 0.6rem;

  @include breakpoint(mobile) {
    width: 10rem;
    height: 10rem;
  }
  svg {
    overflow: visible;
    width: 100%;
    height: 100%;
  }
}
